## pkg: uwg30

# USB
set_io -nowarn usb_dp A4
set_io -nowarn usb_dn A2
set_io -nowarn usb_pu D5

# Button
set_io -nowarn -pullup yes -pullup_resistor 10K btn F4	# Pin 1

# Clock
set_io -nowarn clk_in F5
set_frequency clk_in 48
